{% extends "main.html" %}
{% block content %}
{% include 'navbar.html' %}

<div class="mx-auto max-w-4xl px-4 py-8">
  
  <div class="flex flex-wrap gap-2 mb-4">
    <a class="border px-3 py-2 rounded-md" href="{% url 'main:product_list' %}">
      ← Kembali ke Daftar Produk
    </a>
  </div>

  <div class="bg-white/80 border rounded-xl p-6">
    <h1 class="text-2xl font-semibold">{{ product.name }}</h1>
    <p class="mt-1"><b>Kategori:</b> {{ product.category }}{% if product.is_featured %} | <b>Featured</b>{% endif %}</p>

    {% if product.thumbnail %}
      <img src="{{ product.thumbnail }}" alt="Thumbnail {{ product.name }}" class="rounded-md my-4 max-h-80 object-contain">
    {% endif %}

    <p><b>Harga:</b> Rp{{ product.price }}</p>
    <p class="mt-2">{{ product.description }}</p>

  
    <div class="mt-4 flex gap-2">
      <a href="{% url 'main:edit_product' product.pk %}"
         class="px-3 py-2 rounded-md bg-[#79B84C] text-white hover:opacity-90">
        Edit
      </a>
      <form method="post" action="{% url 'main:delete_product' product.pk %}">
        {% csrf_token %}
        <button class="border px-3 py-2 rounded-md"
                type="submit"
                onclick="return confirm('Hapus produk ini?')">
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
